<a href="https://colab.research.google.com/github/nattanan13/-nattanan/blob/main/workshop4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df =pd.read_csv("/content/ adult_test2.csv")
df

       age      workclass  fnlwgt  ... hours per week   nativecountry  class
0       25        Private  226802  ...             40   United-States  <=50K
1       38        Private   89814  ...             50   United-States  <=50K
2       28      Local-gov  336951  ...             40   United-States   >50K
3       44        Private  160323  ...             40   United-States   >50K
4       18            NaN  103497  ...             30   United-States  <=50K
...    ...            ...     ...  ...            ...             ...    ...
16276   39        Private  215419  ...             36   United-States  <=50K
16277   64            NaN  321403  ...             40   United-States  <=50K
16278   38        Private  374983  ...             50   United-States  <=50K
16279   44        Private   83891  ...             40   United-States  <=50K
16280   35   Self-emp-inc  182148  ...             60   United-States   >50K

[16281 rows x 15 columns]

In [ ]:
df.info()
df.index
type("class")

In [ ]:
df.describe(include="all")

In [ ]:
df[df.workclass==" ?"]

In [ ]:
cat_var=[x for x in df.columns if df[x].dtype=="O"]
print(cat_var)
num_var=[x for x in df.columns if x not in cat_var]
print(num_var)

In [ ]:
for i in cat_var:
  print("--------"+i+"--------")
  print(df[i].value_counts(),end="\n")
  print("\n")

In [ ]:
df=df.replace(" ?", np.nan)

In [ ]:
df=df.replace(np.nan, "others")
df

       age      workclass  fnlwgt  ... hours per week   nativecountry  class
0       25        Private  226802  ...             40   United-States  <=50K
1       38        Private   89814  ...             50   United-States  <=50K
2       28      Local-gov  336951  ...             40   United-States   >50K
3       44        Private  160323  ...             40   United-States   >50K
4       18         others  103497  ...             30   United-States  <=50K
...    ...            ...     ...  ...            ...             ...    ...
16276   39        Private  215419  ...             36   United-States  <=50K
16277   64         others  321403  ...             40   United-States  <=50K
16278   38        Private  374983  ...             50   United-States  <=50K
16279   44        Private   83891  ...             40   United-States  <=50K
16280   35   Self-emp-inc  182148  ...             60   United-States   >50K

[16281 rows x 15 columns]

In [ ]:
df.workclass.replace("others","Private",inplace=True)
set(df.workclass)
# others--> Private(Mode)

{' Federal-gov',
 ' Local-gov',
 ' Never-worked',
 ' Private',
 ' Self-emp-inc',
 ' Self-emp-not-inc',
 ' State-gov',
 ' Without-pay',
 'Private'}

In [ ]:
df.occupation.replace("others","Prof-specialty",inplace=True)
set(df.occupation)
# others--> Prof-specialty(Mode)

{' Adm-clerical',
 ' Armed-Forces',
 ' Craft-repair',
 ' Exec-managerial',
 ' Farming-fishing',
 ' Handlers-cleaners',
 ' Machine op inspct',
 ' Machine-op-inspct',
 ' Other-service',
 ' Priv-house-serv',
 ' Prof-specialty',
 ' Protective-serv',
 ' Sales',
 ' Tech-support',
 ' Transport moving',
 ' Transport-moving',
 'Prof-specialty'}

In [ ]:
df.nativecountry.replace("United-States"," United-States",inplace=True)
set(df.nativecountry)

{' Cambodia',
 ' Canada',
 ' China',
 ' Columbia',
 ' Cuba',
 ' Dominican-Republic',
 ' Ecuador',
 ' El-Salvador',
 ' England',
 ' France',
 ' Germany',
 ' Greece',
 ' Guatemala',
 ' Haiti',
 ' Honduras',
 ' Hong',
 ' Hungary',
 ' India',
 ' Iran',
 ' Ireland',
 ' Italy',
 ' Jamaica',
 ' Japan',
 ' Laos',
 ' Mexico',
 ' Nicaragua',
 ' Outlying-US(Guam-USVI-etc)',
 ' Peru',
 ' Philippines',
 ' Poland',
 ' Portugal',
 ' Puerto-Rico',
 ' Scotland',
 ' South',
 ' Taiwan',
 ' Thailand',
 ' Trinadad&Tobago',
 ' United-States',
 ' Vietnam',
 ' Yugoslavia'}

In [ ]:
df.nativecountry.replace("others","United-States",inplace=True)
set(df.nativecountry)

In [ ]:
df.workclass.value_counts()
df.nativecountry.value_counts()
df.occupation.value_counts()

 Prof-specialty       2032
 Exec-managerial      2020
 Craft-repair         2013
 Sales                1854
 Adm-clerical         1841
 Other-service        1628
 Machine-op-inspct    1019
 Transport-moving      757
 Handlers-cleaners     702
 Tech-support          518
 Farming-fishing       496
 Protective-serv       334
 Priv-house-serv        93
 Armed-Forces            6
 Machine op inspct       1
 Transport moving        1
Name: occupation, dtype: int64

In [ ]:
for i in cat_var:
  plt.title(i)
  sns.countplot(x=df[i])
  
  plt.xticks(rotation=90)
  plt.show()

In [ ]:
df.columns

In [ ]:
df['class']=df['class'].replace("<=50K",0).replace(">50K",1)

In [ ]:
for i in cat_var:
  plt.title(i)
  sns.countplot(y=df[i],hue=df["class"])
  plt.show()

In [ ]:
for i in num_var:
  plt.title(i)
  sns.distplot(x=df[i],kde=True)
  plt.show()

In [ ]:
def encoder(data,variable):
  encoding_list=data.groupby(variable).size()/len(data)
  data[variable]=data[variable].map(encoding_list)
  return data,encoding_list

In [ ]:
df1=df.copy()
encode_dist=dict()
for i in cat_var[:-2]:
  df1,x=encoder(df1,i)
  encode_dist[i]=x

In [ ]:
encode_dist

In [ ]:
df1=df1.replace("Female",0).replace("Male",1)
df1

       age  workclass  fnlwgt  ...  hours per week   nativecountry   class
0       39   0.039854   77516  ...              40   United-States   <=50K
1       50   0.078771   83311  ...              13   United-States   <=50K
2       38   0.695463  215646  ...              40   United-States   <=50K
3       53   0.695463  234721  ...              40   United-States   <=50K
4       28   0.695463  338409  ...              40            Cuba   <=50K
...    ...        ...     ...  ...             ...             ...     ...
26642   36   0.695463   98360  ...              40   United-States   <=50K
26643   40   0.065148  202872  ...              40   United-States    >50K
26644   54   0.078771  118365  ...              10   United-States   <=50K
26645   45   0.078771  184285  ...              45   United-States   <=50K
26646   48   0.695463  345831  ...              40   United-States    >50K

[26647 rows x 15 columns]

In [ ]:
for i in num_var:
  plt.title(i)
  sns.countplot(y=df[i],hue=df["class"])
  plt.show()

In [ ]:
for i in num_var:
  plt.title(i)
  sns.countplot(x=df[i])
  
  plt.xticks(rotation=90)
  plt.show()

In [ ]:
from google.colab import files
df.to_csv('preadult.csv', index=False) 
files.download('preadult.csv')

In [ ]:
for i in num_var:
 print(i)

age
fnlwgt
education num
capital gain
capital loss
hours per week

In [ ]:
print(min(df["age"]))

17

In [ ]:
print(max(df["age"]))

90

In [ ]:
df["age"] = (df["age"] - min(df["age"]) )/ (max(df["age"]) -min(df["age"]))

In [ ]:
df["hours per week"] = (df["hours per week"] - min(df["hours per week"]) )/ (max(df["hours per week"]) -min(df["hours per week"]))

In [ ]:
df

In [ ]:
df=pd.get_dummies(df.sex)

AttributeError: ignored

In [ ]:
data = pd.concat([df, pd.get_dummies(df.sex)], axis=1)

In [ ]:
data

            age      workclass  fnlwgt  ...  class   Female  Male
0      0.109589        Private  226802  ...  <=50K        0     1
1      0.287671        Private   89814  ...  <=50K        0     1
2      0.150685      Local-gov  336951  ...   >50K        0     1
3      0.369863        Private  160323  ...   >50K        0     1
4      0.013699        Private  103497  ...  <=50K        1     0
...         ...            ...     ...  ...    ...      ...   ...
16276  0.301370        Private  215419  ...  <=50K        1     0
16277  0.643836        Private  321403  ...  <=50K        0     1
16278  0.287671        Private  374983  ...  <=50K        0     1
16279  0.369863        Private   83891  ...  <=50K        0     1
16280  0.246575   Self-emp-inc  182148  ...   >50K        0     1

[16281 rows x 17 columns]

In [ ]:
data.workclass.value_counts()
data.nativecountry.value_counts()
data.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
Prof-specialty        1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [ ]:
from google.colab import files
data.to_csv(' adulttest_5.csv', index=False) 
files.download(' adulttest_5.csv')